In [3]:
import pandas as pd
df=pd.read_csv("Data Complete.csv")
df.sample(5)

,Unnamed: 0,Date,Open,Close,Adj Close,High,Low,Volume,MACD_Line,MACD_Signal,...,SMA_10,EMA_10,SMA_20,EMA_20,SMA_50,EMA_50,SMA_100,EMA_100,SMA_200,EMA_200
6458,6458,2021-09-01,1048.989136,1046.266235,1031.557739,1058.172974,1044.374146,11145486,18.557699,12.844997,...,1006.618555,1009.914181,985.700513,993.113452,968.059921,973.453282,946.245218,957.040822,927.721453,928.737864
2590,2590,2005-12-22,61.694862,61.120045,52.622204,62.105446,60.923676,80228450,0.761925,0.885099,...,52.763602,52.531141,52.254715,52.043467,49.857468,50.388743,49.099972,47.891346,42.167169,43.719456
4012,4012,2011-09-23,176.900528,176.146194,159.237839,181.175034,174.660400,38513013,0.536153,0.983020,...,168.863200,167.442952,166.448085,166.977692,167.688657,169.217725,177.725810,176.493557,191.354953,186.393993
3988,3988,2011-08-18,173.197479,169.425858,153.162613,173.723221,168.465805,17126872,-6.518348,-5.373462,...,159.351509,159.745403,167.579964,165.127213,175.616038,174.490987,188.105999,183.358604,197.057693,192.191160
4619,4619,2014-03-12,199.781693,199.175949,184.636459,201.816086,198.330200,9431389,1.747551,-0.327462,...,177.090820,179.401483,174.627519,177.056337,178.079113,177.799466,181.744718,179.411055,180.765489,179.150458

In [5]:
df=df.drop(columns=['Unnamed: 0'])